/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text:#111;
	--color-background:#f4d7f5;
}


/****************/
/* JOUW STYLING */
/****************/

/* zodat de h1, h3 en skip link in de footer niet zichtbaar zijn in de pagina*/
.visually-hidden,
.skip-link {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/*Zo is mijn pagina responsive op meerdere apparaten*/

@media (min-width:600px) {
	/* voor tablet */
	main {
		display: grid;
		grid-template-columns: repeat(2 ,1fr);
	}
}

@media (min-width:1024px) {
	/* voor desktop/laptop */
	main {
		grid-template-columns: repeat(3 ,1fr);
	}

	section img {
		width: 80%;
	}

}


/*dit is de algemene code*/
main {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}

header:first-of-type {
    background-color: rgb(151, 150, 149);
    display: flex;
    align-items: center;
	position: sticky;
	top: 0;
}

header:first-of-type ul{
    display: flex;
    gap: 3em;
	align-content: center;
	justify-content: center;
}

header:first-of-type a{
	color: black;
}

header a:hover{
	color: rgb(183, 84, 186);
}

a:focus {
	outline: 1.5px palevioletred;
}

li{
	text-decoration: none;
	list-style-type: none;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section img {
	max-width: 100%;
	height: auto;
}

section:nth-of-type(1) {
    display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(1) img{
	min-width: 55%;
}

section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(5) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(6) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(7) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(8) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(9) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

section:nth-of-type(10) {
	display: flex;
	flex-direction: column;
    padding: 1.5em;
    margin: 2em;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

footer:nth-of-type(1) ul {
	display: flex;
	overflow-x: auto;
	min-width: 100%;
}

footer:nth-of-type(1) ul li {
	flex-shrink: 0;
	flex-basis: 50%;
}

footer:nth-of-type(1) ul li img {
	max-width: 100%;
	display: block;
}

/*animatie in header & hamburger menu*/

header ul li:nth-of-type(1),
header ul li:nth-of-type(4),
header ul li:nth-of-type(5) {
    background: hsla(240, 23%, 68%, 0.078);
}

header ul li:nth-of-type(1):hover,
header ul li:nth-of-type(2):hover,
header ul li:nth-of-type(5):hover {
    /*transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);*/
    transform: rotate3d(1, 1, 1, 360deg);
    transition: 2s;
}
/*javascript 1 uit de les*/
p.anders {
	background-color: darkorchid;
	border-radius: 1.5em;
}

/* Burger menu icon onderdeel javascript 2  */
/* https://codepen.io/joesayegh/pen/jOEVPKO van deze site maar aangepast met chatgpt zodat werkte met mijn site*/
#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: #4b4286;
    display: block;
    height: 2px;
    position: absolute;
    transition: 0.3s ease-in-out;
    content: "";
}

/* top line */
#burger-menu span:before {
    top: -10px;
    left: 0;
    width: 27px;
}

/* middle line */
#burger-menu span {
    top: 13px;
    right: 0;
    width: 27px;
}

/* bottom line */
#burger-menu span:after {
    top: 10px;
    left: 0;
    width: 27px;
}

/* Animation als menu opengaat    */

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
}

#burger-menu.close span {
    transform: rotate(-45deg);
}

#burger-menu.close span:after {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

/* Overlay voor menu */
#menu {
    z-index: 1;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}

#menu.overlay {
    visibility: visible;
    opacity: 1;
    height: 100vh;
    padding-top: 100px;
    background: rgba(86, 52, 105, 0.5);
}

#menu ul {
    padding: 0;
}

#menu li {
    list-style: none;
}

#menu a {
    color: #fff;
    display: block;
    font-size: 25px;
    margin-bottom: 30px;
    text-decoration: none;
}

/*articles op 2e pagina*/

article:nth-of-type(1) {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

article:nth-of-type(1) ul li {
	flex-shrink: 0;
	flex-basis: 50%;
}

article:nth-of-type(1) ul li img {
	max-width: 100%;
	display: block;
}

article:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

article:nth-of-type(2) ul li img {
	min-width: 50px;
	height: auto;
	display: block;
}

/* jouw code */